.autocomplete-item-wrapper {
  cursor: pointer;
  margin-bottom: 12px;
}
.autocomplete-item-wrapper p {
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
}

.additional-info {
  font-size: 16px;
  color: #0009;
}
