.form-wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

input[type=search] {
  font-size: 24px;
  width: 100%;
  padding: 12px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.autocomplete-wrapper {
  padding: 12px 20px;
  border-radius: 4px;
  background-color: white;
}
