<div class="form-wrapper">
  <form [formGroup]="form.formGroup">
    <input class="input" type="search" formControlName="searchInput" placeholder="Поиск">
  </form>

  <ng-container *ngIf="(geoFeatures | async) as geoFeatures">
    <div *ngIf="geoFeatures.length > 0" class="autocomplete-wrapper">
      <ng-container *ngFor="let geoFeature of geoFeatures">
        <autocomplete-element
          [feature]="geoFeature"
          (selectedPlace)="setSelectedPlace($event)"
        >
        </autocomplete-element>
      </ng-container>
    </div>
  </ng-container>
</div>
