body {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

.app-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.search-component {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1000;
}
