<div class="map-wrapper">
  <ng-container *ngIf="(coordinates | async) as coordinates">
    <mgl-map
      class="map-container"
      [style]="MAP_STYLE_URL"
      [zoom]="[ZOOM_INITIAL_VALUE]"
      [center]="coordinates"
    >
      <mgl-marker [lngLat]="coordinates"></mgl-marker>
    </mgl-map>
  </ng-container>
</div>


